* {
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0;
  padding: 0;
}

#container {
    padding: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 0;
}

#game-info-mask {
    position: fixed;
    height: 30vh;
    width: 100vw;
    padding: 0 auto 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2;
}

#dialog-mask {
    position: fixed;
    height: 100vh;
    width: 100vw;
    padding: 0 auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}

#game-info {
    text-align: center;
    display: block;
    background: rgba(255, 255, 255, 0.5);
    overflow: hidden;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin: 0.5em;
    box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}

#before-game, #after-game {
    text-align: center;
    display: block;
    background: #fff;
    overflow: hidden;
    border-radius: 0.3em;
    padding: 0.5em 1em;
    margin: 0.5em;
    box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}

#game {
    text-align: center;
    flex: 1 0 auto;
}

#stage-canvas {
  display: block;
}
