html, body {
  margin: 0;
  padding: 0;
}

.button {
  line-height: 1.2em;
  text-decoration: none;
  padding: 0.5em 1em;
  border-radius: 0.3em;
  color: #fff;
  background: #9f1313;
  border: 0.1em solid #ddd;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  z-index: 0;
}

.mask {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#game-info-mask, #dirty-talk-mask {
  height: 20vh;
  z-index: 1;
  justify-content: flex-end;
}

#dialog-mask {
  z-index: 2;
}

.card {
  display: block;
  overflow: hidden;
  border-radius: 0.3em;
  padding: 0.5em 1em;
  margin: 0.5em;
  background: #fff;
  box-shadow: 0 0 1em 0.5em rgba(0,0,0,0.19);
}

#game-info-card, #dirty-talk-card {
  text-align: center;
  background: rgba(255, 255, 255, 0.5);
}


#before-game-card, #after-game-card {
  text-align: center;
}

#game {
  text-align: center;
  flex: 1 0 auto;
}

#stage-canvas {
  display: block;
}
